<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <ImportGroup Label="PropertySheets" />
    <PropertyGroup Label="UserMacros">
        <BuildDir>$(SolutionDir)..\Build</BuildDir>
        <DependencyDir>../thirdparty20170624</DependencyDir>
        <!--NOTE: CpuOnlyBuild and UseCuDNN flags can't be set at the same time.-->
        <CpuOnlyBuild>false</CpuOnlyBuild>
        <UseCuDNN>true</UseCuDNN>
        <UseNCCL>true</UseNCCL>
        <CudaVersion>9.0</CudaVersion>
        <!-- NOTE: If Python support is enabled, PythonDir (below) needs to be
         set to the root of your Python installation. If your Python installation
         does not contain debug libraries, debug build will not work. -->
        <PythonSupport>true</PythonSupport>
        <PythonDir>D:\bin\Anaconda3</PythonDir>
        <!-- NOTE: If Matlab support is enabled, MatlabDir (below) needs to be
         set to the root of your Matlab installation. -->
        <MatlabSupport>true</MatlabSupport>
        <MatlabDir>C:\Program Files\MATLAB\R2016a</MatlabDir>
        <CudaDir>C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0</CudaDir>
        <NvToolsExtDir>C:\Program Files\NVIDIA Corporation\NvToolsExt</NvToolsExtDir>

        <!-- Set CUDA architecture suitable for your GPU.
         Setting proper architecture is important to mimize your run and compile time. -->
        <CudaArchitecture>compute_35,sm_35;compute_50,sm_50;compute_52,sm_52;compute_61,sm_61;</CudaArchitecture>

        <!-- CuDNN 3 and 4 are supported -->
        <CuDnnPath>D:\bin\libs\cuda\cudnn-9.0-windows7-x64-v7</CuDnnPath>
        <ScriptsDir>$(SolutionDir)scripts</ScriptsDir>
    </PropertyGroup>
    <PropertyGroup Condition="'$(CpuOnlyBuild)'=='false'">
        <CudaDependencies>cublas.lib;cuda.lib;curand.lib;cudart.lib;nvToolsExt64_1.lib</CudaDependencies>
    </PropertyGroup>

    <PropertyGroup Condition="'$(UseCuDNN)'=='true'">
        <CudaDependencies>cudnn.lib;$(CudaDependencies)</CudaDependencies>
    </PropertyGroup>
    <PropertyGroup Condition="'$(UseCuDNN)'=='true' And $(CuDnnPath)!=''">
        <LibraryPath>$(CuDnnPath)\cuda\lib\x64;$(LibraryPath)</LibraryPath>
        <IncludePath>$(CuDnnPath)\cuda\include;$(IncludePath)</IncludePath>
    </PropertyGroup>
    <PropertyGroup Condition="'$(UseNCCL)'=='true'">
      <CudaDependencies>nccl.lib;$(CudaDependencies)</CudaDependencies>
      <LibraryPath>$(DependencyDir)/NCCL/lib;$(LibraryPath)</LibraryPath>
      <IncludePath>$(DependencyDir)/NCCL/include;$(IncludePath)</IncludePath>
    </PropertyGroup>
    <PropertyGroup>
        <OutDir>$(BuildDir)\$(Platform)\$(Configuration)\</OutDir>
        <IntDir>$(BuildDir)\Int\$(ProjectName)\$(Platform)\$(Configuration)\</IntDir>
        <IncludePath>$(DependencyDir)/boost_1_67_0;$(DependencyDir)/GFlags/Include;$(DependencyDir)/GLog/include;$(DependencyDir)/HDF5/include;$(DependencyDir)/LEVELDB/include;$(DependencyDir)/LMDB/include;$(DependencyDir)/OpenBLAS/include;$(DependencyDir)/OpenCV/include;$(DependencyDir)/protobuf_2_7/include;$(IncludePath)</IncludePath>
        <LibraryPath>$(DependencyDir)/boost_1_67_0/lib64-msvc-14.0;$(DependencyDir)/GFlags/Lib;$(DependencyDir)/GLog/lib;$(DependencyDir)/HDF5/lib;$(DependencyDir)/LEVELDB/lib;$(DependencyDir)/LMDB/lib;$(DependencyDir)/OpenBLAS/lib;$(DependencyDir)/OpenCV/x64/vc14/lib;$(DependencyDir)/protobuf_2_7/lib;$(LibraryPath)</LibraryPath>
    </PropertyGroup>
    <PropertyGroup>
        <LibraryPath>$(OutDir);$(CudaDir)\lib\$(Platform);$(NvToolsExtDir)\lib\$(Platform);$(LibraryPath)</LibraryPath>
        <IncludePath>$(SolutionDir)..\include;$(SolutionDir)..\src;$(SolutionDir)..\include\caffe\proto;$(CudaDir)\include;$(NvToolsExtDir)\include;$(IncludePath)</IncludePath>
    </PropertyGroup>
    <PropertyGroup Condition="'$(PythonSupport)'=='true'">
        <LibraryPath>$(PythonDir)\libs;$(LibraryPath)</LibraryPath>
        <IncludePath>$(PythonDir)\include;$(PythonDir)\Lib\site-packages\numpy\core\include;$(IncludePath)</IncludePath>
        <link>
          <AdditionalDependencies>python36.lib;%(AdditionalDependencies)</AdditionalDependencies>
        </link>
    </PropertyGroup>
    <PropertyGroup Condition="'$(MatlabSupport)'=='true'">
        <LibraryPath>$(MatlabDir)\extern\lib\win64\microsoft;$(LibraryPath)</LibraryPath>
        <IncludePath>$(MatlabDir)\extern\include;$(IncludePath)</IncludePath>
    </PropertyGroup>
    <ItemDefinitionGroup Condition="'$(CpuOnlyBuild)'=='true'">
        <ClCompile>
            <PreprocessorDefinitions>CPU_ONLY;%(PreprocessorDefinitions)</PreprocessorDefinitions>
        </ClCompile>
    </ItemDefinitionGroup>
    <ItemDefinitionGroup Condition="'$(UseCuDNN)'=='true'">
        <ClCompile>
            <PreprocessorDefinitions>USE_CUDNN;%(PreprocessorDefinitions)</PreprocessorDefinitions>
        </ClCompile>
        <CudaCompile>
            <Defines>USE_CUDNN</Defines>
        </CudaCompile>
    </ItemDefinitionGroup>
    <ItemDefinitionGroup Condition="'$(UseNCCL)'=='true'">
      <ClCompile>
        <PreprocessorDefinitions>USE_NCCL;%(PreprocessorDefinitions)</PreprocessorDefinitions>
      </ClCompile>
      <CudaCompile>
        <Defines>USE_NCCL</Defines>
      </CudaCompile>
    </ItemDefinitionGroup>
    <ItemDefinitionGroup Condition="'$(PythonSupport)'=='true'">
        <ClCompile>
            <PreprocessorDefinitions>WITH_PYTHON_LAYER;BOOST_PYTHON_STATIC_LIB;%(PreprocessorDefinitions)</PreprocessorDefinitions>
        </ClCompile>
    </ItemDefinitionGroup>
    <ItemDefinitionGroup Condition="'$(MatlabSupport)'=='true'">
        <ClCompile>
            <PreprocessorDefinitions>MATLAB_MEX_FILE;%(PreprocessorDefinitions)</PreprocessorDefinitions>
        </ClCompile>
    </ItemDefinitionGroup>
    <ItemDefinitionGroup>
        <ClCompile>
            <MinimalRebuild>false</MinimalRebuild>
            <MultiProcessorCompilation>true</MultiProcessorCompilation>
            <PreprocessorDefinitions>NO_STRICT;_CRT_NONSTDC_NO_DEPRECATE;_CRT_SECURE_NO_WARNINGS;_SCL_SECURE_NO_WARNINGS;USE_OPENCV;USE_LEVELDB;USE_LMDB;%(PreprocessorDefinitions)</PreprocessorDefinitions>
            <TreatWarningAsError>false</TreatWarningAsError>
        </ClCompile>
        <Link>
          <AdditionalDependencies>libboost_filesystem-vc140-mt-x64-1_67.lib;gflags.lib;glog.lib;hdf5.lib;hdf5_hl.lib;szip.lib;zlib.lib;leveldb.lib;lmdb.lib;libopenblas.dll.a;opencv_world310.lib;protobuf.lib;%(CudaDependencies);%(AdditionalDependencies)</AdditionalDependencies>
        </Link>
    </ItemDefinitionGroup>
    <ItemDefinitionGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'">
        <ClCompile>
            <Optimization>Full</Optimization>
            <PreprocessorDefinitions>NDEBUG;%(PreprocessorDefinitions)</PreprocessorDefinitions>
            <RuntimeLibrary>MultiThreadedDLL</RuntimeLibrary>
            <FunctionLevelLinking>true</FunctionLevelLinking>
        </ClCompile>
        <Link>
            <EnableCOMDATFolding>true</EnableCOMDATFolding>
            <GenerateDebugInformation>true</GenerateDebugInformation>
            <LinkTimeCodeGeneration>UseLinkTimeCodeGeneration</LinkTimeCodeGeneration>
            <OptimizeReferences>true</OptimizeReferences>
        </Link>
    </ItemDefinitionGroup>
    <ItemDefinitionGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'">
        <ClCompile>
            <Optimization>Disabled</Optimization>
            <PreprocessorDefinitions>_DEBUG;%(PreprocessorDefinitions)</PreprocessorDefinitions>
            <RuntimeLibrary>MultiThreadedDebugDLL</RuntimeLibrary>
        </ClCompile>
        <Link>
            <GenerateDebugInformation>true</GenerateDebugInformation>
        </Link>
    </ItemDefinitionGroup>
</Project>
